/* 모바일 - 767px 이하 */

header {
  border: 0.1em #1100ff solid;
}

.header_contents {
    position: relative;
    padding:3%;
    margin-bottom:30px;
}

.header-logo {
    display: inline-block;
    position: absolute;
    margin-left: 3%;
    left: 5px;
}

.header-menu {
    display: inline-block;
    position: absolute;
    margin-right: 3%;
    right: 5px;
} 


@media all and (min-width: 0px) and (max-width: 767px) {
    .navact {display: none;}
}

@media all and (min-width: 768px) {
    .hiddenmenu {display: none;}
}




  /* 태블릿 - 768px 이상 */
@media all and (min-width:768px) {
  
  .header-logo {
      display: inline-block;
      position: absolute;
      margin-left: 3%;
      left: 5px;
  }

  .header-menu {
    margin-left: 13%;
    position: relative;
    width: 100%;
    clear: both;
    /* background: blue; */
  } 

  nav ul li {
    display: inline-block;
    margin-left: 15%;
    font-size: 1.7rem;
    font-family: 'OpenSans-Regular';
    }     
  }





  
  /* PC - 992px 이상 */
  @media all and (min-width:992px) {
    .header-logo {
      display: inline-block;
      position: absolute;
      margin-left: 3%;
      left: 5px;
  }

  .header-menu {
    margin-left: 15%;
    position: relative;
    width: 100%;
    clear: both;
    /* background: blue; */
  } 

  nav ul li {
    display: inline-block;
    margin-left: 15%;
    font-size: 2.5rem;
    font-family: 'OpenSans-Regular';
    }
  
  }