
<div id="container" class="wrap">

    <header>
        <div class="head_container">
        <div class="header-logo">luggage store 24/7</div>
        <div class="header-menu"> 
            <div class="hiddenmenu">menu</div></div>

            <nav class="navact">
                <ul>
                    <li>Become a partner</li>
                    <li>Pricing</li>
                    <li>FAQ</li>
                </ul>
            </nav>
        </div>
    </header>

    <app-servers></app-servers>
</div> 