
<div class="contents">
    <div class="main">
        <p>Bag and Luggage Storage Anywhere In The City</p></div>
    <div class="sub">
        <p class="sub">Hundreds of locations in major Korean cities Store your luggage, gym bags, or workbag for just $5.9 per day</p></div>
    <br>
    <input type="text" size="28" id="find-storage" placeholder="Find storage near"> 
    Search image / Near me image
</div>


<div id="sidebar">
        <h2>이미지 파일</h2>
        <img src="assets/images/iphone.png">
    </div>

