
<div class="contents">
    <div class="main">
        <p>Bag and Luggage Storage Anywhere In The City</p></div>
    <div class="sub">
        <p>Hundreds of locations in major Korean cities Store your luggage, gym bags, or workbag for just<span class="bluetext"> $5.9 </span>per day</p></div>
    <br>
    <input class="find" type="text" size="28" id="find-storage" placeholder="Find storage near"> 
    <br>
    <div class="search">
        <button class="Click">Search</button> 
        <button class="Near">Near me</button> 
    </div>
    <div class="appdown">
        <img src="../../assets/images/android(black_background).svg" alt="android">
        <img src="../../assets/images/ios(blck_background).svg" alt="ios">
    </div>
</div>


<div id="sidebar">
    <img src="assets/images/iphone.png">
</div>


<div class="contentsSecond">
    <section>
        <h2>How It Works</h2>
            <div class="main">
                <img src="../../assets/images/bag.svg">
                <p>Book Online</p></div>
            <div class="sub">
                <p>Find the location closest to you. We have <br>locations all around the city.</p></div>        
                <img src="../../assets/images/easy.svg">
            <div class="main">
                <p>Drop Off Items</p></div>    
            <div class="sub">
                <p>Show your booking receipt and <br>you're good to go. Secured and insured.</p></div>  
                <img src="../../assets/images/city.svg">
            <div class="main">
                <p>Enjoy the City</p></div>    
            <div class="sub">
                <p>Go about your day without lugging around<br> your things.</p></div>  
  
    </section>
</div>

<section>
    <div class="character">
        <div class="box"> 
            <img src="../../assets/images/key.svg" alt="insurance">
            <p>$5000 <br>insurance</p> 
        </div>
        
        <div class="box">
            <img src="../../assets/images/calendar.svg" alt="reservation">
            <p>Easy <br>reservations</p>
        </div>
    
        <div class="box">
            <img src="../../assets/images/cancellation.svg" alt="cancellation">
            <p>Easy <br>cancellations</p> 
        </div>
    </div>
</section>